extends layout

block content
  div(style="display:table;width:100%")
    section#exercise-parameters
      section#exercise-parameters-fields
        div.form-horizontal.table
          .field
            .classification-wrapper
              select.classification.selectpicker.green
            label Title
            .required-indicator
              i.icon-asterisk
            .value-wrapper
              input.form-control(value="Visible Presence")
        fieldset(style="display: block;clear:both")
          legend Dates
        div.form-horizontal.table
          div.field
            .classification-wrapper
              select.classification.selectpicker.green
            label From
            .required-indicator
              i.icon-asterisk
            .value-wrapper
              input.form-control(value="9/1/2013")
            label(style="width: 3%") to
            .value-wrapper
              input.form-control(value="9/30/2013")
        fieldset(style="display: block;clear:both")
          legend Parameters
        div.form-horizontal.table
          div.field
            .classification-wrapper
              select.classification.selectpicker.secret
            label Operational Environment
            .required-indicator
              i.icon-asterisk
            .value-wrapper
              input.form-control(value="Decisive Action Training Environment")
        div.form-horizontal.table
          div.field
            .classification-wrapper
              select.classification.selectpicker.green
            label Training Location
            .required-indicator
              i.icon-asterisk
            .value-wrapper
              input.form-control(value="Fort Hood, TX")
        div.form-horizontal.table
          div.field
            .classification-wrapper
              select.classification.selectpicker.green
            label Operation
            .required-indicator
              i.icon-asterisk
            .value-wrapper
              input.form-control(value="Stability")
        div.form-horizontal.table
          div.field
            .classification-wrapper
              select.classification.selectpicker.secret
            label Type
            .required-indicator
              i.icon-asterisk
            .value-wrapper
              input.form-control(value="Command Post Exercise")
      section#map.secondary
  div#middle(style="padding:1%")
    fieldset
      legend Commander's Intent
    div.form-horizontal.table
      div.field
        .classification-wrapper
          select.classification.selectpicker.green
        label Purpose
        .required-indicator
          i.icon-asterisk
        .value-wrapper
          input.form-control(value="Develop experience in maintaining local law and order")
    div.form-horizontal.table
      div.field
        .classification-wrapper
        label(style="vertical-align:top") Key Tasks
        .required-indicator(style="vertical-align:top")
          i.icon-asterisk
        .value-wrapper
          div.form-horizontal.table
            div.field
              .reorder
                i.icon-resize-vertical
              .classification-wrapper(style="padding-right: 1em;width: 20%")
                select.classification.selectpicker.green
              .value-wrapper
                input.form-control(value="Identify local rebel groups")
              .delete
                i.icon-trash
          div.form-horizontal.table
            div.field
              .reorder
                i.icon-resize-vertical
              .classification-wrapper(style="padding-right: 1em;width: 20%")
                select.classification.selectpicker.secret
              .value-wrapper
                input.form-control(value="Establish relationships with local population")
              .delete
                i.icon-trash
          div.form-horizontal.table
            div.field
              .reorder
                i.icon-resize-vertical
              .classification-wrapper(style="padding-right: 1em;width: 20%")
                select.classification.selectpicker.secret
              .value-wrapper
                input.form-control(value="Provide defensive support and training to locals")
              .delete
                i.icon-trash
          div.form-horizontal.table
            div.field
              .classification-wrapper(style="padding-right: 1em;width: 20%")
                select.classification.selectpicker.secret
                  option Select a classification
              .value-wrapper
                input.form-control(placeholder="New key task...")
              div.addtask
                button.btn(style="width:70%;line-height:1em")
                  i.icon-plus
    div.form-horizontal.table
      div.field
        .classification-wrapper
          select.classification.selectpicker.green
        label End State
        .required-indicator
          i.icon-asterisk
        .value-wrapper
          input.form-control(value="Personnel will learn difficulties in occupying territory under attack")

  div#bottom(style="padding:1%")
    fieldset
      legend Commander's Training Objectives
    div.form-horizontal.table
      div.field
        .reorder
          i.icon-resize-vertical
        .classification-wrapper
          select.classification.selectpicker.green
        .value-wrapper
          input.form-control(value="Objective 1")
        .delete
          i.icon-trash
    div.form-horizontal.table
      div.field
        .reorder
          i.icon-resize-vertical
        .classification-wrapper
          select.classification.selectpicker.green
        .value-wrapper
          input.form-control(value="Objective 2")
        .delete
          i.icon-trash
    div.form-horizontal.table
      div.field
        .reorder
          i.icon-resize-vertical
        .classification-wrapper
          select.classification.selectpicker.green
        .value-wrapper
          input.form-control(value="Objective 3")
        .delete
          i.icon-trash
