extends layout

block content
  section#exercise-parameters
    section#exercise-parameters-fields
      div.form-horizontal.table
        .field
          .classification-wrapper
            select.classification.selectpicker
          label Title
          .required-indicator
            i.icon-asterisk
          .value-wrapper
            input.form-control(value="blah")
      fieldset(style="display: block;clear:both")
        legend Dates
      div.form-horizontal.table
        div.field
          .classification-wrapper
            select.classification.selectpicker
          label From
          .required-indicator
            i.icon-asterisk
          .value-wrapper
            input.form-control(value="blah")
          label(style="width: 3%") to
          .required-indicator
            i.icon-asterisk
          .value-wrapper
            input.form-control(value="blah")
      fieldset(style="display: block;clear:both")
        legend Parameters
      div.form-horizontal.table
        div.field
          .classification-wrapper
            select.classification.selectpicker
          label Operational Environment
          .required-indicator
            i.icon-asterisk
          .value-wrapper
            input.form-control(value="blah")
      div.form-horizontal.table
        div.field
          .classification-wrapper
            select.classification.selectpicker
          label Training Location
          .required-indicator
            i.icon-asterisk
          .value-wrapper
            input.form-control(value="blah")
      div.form-horizontal.table
        div.field
          .classification-wrapper
            select.classification.selectpicker
          label Operation
          .required-indicator
            i.icon-asterisk
          .value-wrapper
            input.form-control(value="blah")
      div.form-horizontal.table
        div.field
          .classification-wrapper
            select.classification.selectpicker
          label Type
          .required-indicator
            i.icon-asterisk
          .value-wrapper
            input.form-control(value="blah")
    section#map.secondary
