doctype 5
html
  head
    title Mimosa
    link(rel='stylesheet', href='/stylesheets/vendor/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-select.css')
    link(rel='stylesheet', href='/stylesheets/style.css' + cachebust)
    link(rel='stylesheet', href='/stylesheets/geo.css')
    link(href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", rel="stylesheet")

    if reload
      script(src='/socket.io/socket.io.js')
      script(src='/javascripts/reload-client.js')

    if optimize
      script(src='/javascripts/main-built.js')
    else
      script(src='/javascripts/vendor/requirejs/require.js', data-main='/javascripts/main.js')

  body
    block content

