@import 'vendor/bootstrap/variables';
@import 'vendor/bootstrap/mixins';
@blue: #5B83AD;
@yellow: #FFFFE0;

.form-control {
  font-size: 14px;
  padding: 3px 6px;
  height: 28px;
}

body {
  font-size: 14px;
}
.table {
  display: table;
  width: 100%;
}
.table-row {
  display: table-row;
}
@theborder: solid 12px #F3F3F3;
#exercise-parameters {
  display: table-row;
  #exercise-parameters-fields {
    padding: 1%;
    display: table-cell;
    border-bottom: @theborder;
    vertical-align: top;
    width: 50%;
    .form-horizontal:last-child { margin-bottom: 0; }
  }
  #map {
    border-left: @theborder;
    border-bottom: @theborder;
    vertical-align: top;
    display: table-cell;
    width: 50%;
  }
  .field {
    display: table-row;
    .classification-wrapper {
      display: table-cell;
      vertical-align: middle;
      width: 25%;
    }
    label {
      display: table-cell;
      width: 20%;
      text-align: right;
      vertical-align: middle;
    }
    .value-wrapper {
      display: table-cell;
      vertical-align: middle;
    }
  }
}
.required-indicator {
  display: table-cell;
  vertical-align: middle;
  font-weight: bold;
  width: 2em;
  text-align: center;
  i {
    color: #EE3333;
    font-size: 8px;
  }
}
fieldset legend {
  color: #444 !important;
}
label {
  color: #666;
}
div.bootstrap-select.classification button {
  font-family: "Arial Narrow";
  height: 28px;
  font-size: 12px;
  .btn { line-height: .8em; }
  color: darkslategray;
  border-left: 10px solid green
}
div.bootstrap-select.classification.secret button {
  border-left: 10px solid firebrick;
}
#middle, #bottom {
  .field {
    display: table-row;
    .classification-wrapper {
      display: table-cell;
      vertical-align: middle;
      width: 12.5%;
    }
    label {
      display: table-cell;
      width: 9.5%;
      text-align: right;
      vertical-align: middle;
    }
    .addtask {
      display: table-cell;
      width: 10%;
      vertical-align: middle;
      text-align: center;
      i { font-size: 14px; }
    }
    .reorder, .delete {
      display: table-cell;
      width: 5%;
      vertical-align: middle;
      text-align: center;
      i { font-size: 14px; }
    }
    .value-wrapper {
      display: table-cell;
      vertical-align: middle;
    }
  }
}
#bottom {
  .value-wrapper {
    padding-left: 1em;
  }
}
